# Dependencies
node_modules

# Build output
dist

# Vite
.vite
node_modules/.vite

# Editor
.vscode/*
!.vscode/launch.json

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local